<div class="container">


  <h2>{{ title }}</h2>
  <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name"/>
    </p>
    <p>
        <label for="description">Description</label>
        <input type="text" name="description" #name="ngModel" [(ngModel)]="project.description"/>
      </p>
      <p>
          <label for="Category">Category</label>
          <input type="text" name="category" #name="ngModel" [(ngModel)]="project.category"/>
        </p>
        <p>
            <label for="year">Year</label>
            <input type="text" name="year" #name="ngModel" [(ngModel)]="project.year"/>
          </p>

          <p>
              <label for="langs">Languages</label>
              <input type="text" name="langs" #name="ngModel" [(ngModel)]="project.langs"/>
            </p>
            <p>
                <label for="image">Image</label>
      <input type="file" name="image" placeholder="Upload image"/>
      <input type="submit" value="Send"/>

    </p>
  </form>
</div>